/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f0faff;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: #0E0D0D;
    font-family: 'Alegreya Sans SC', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block;

}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav li {
    font-family: 'Alegreya Sans SC', sans-serif;

}

.nav {
    justify-content: space-between;
    font-family: 'Alegreya Sans SC', sans-serif;

}

a {
    color: #fff;
    text-decoration: none;
}

.nav .logo img {

    left: 0;
    width: 20vw;
    display: block;
    font-size: 22px;
    font-weight: 500;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav .nav-links a {
    transition: all 0.2s linear;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-family: 'Alegreya Sans SC', sans-serif;

}

.nav-item a:hover {
    color: #E91616;
}

.nav-item a.active {
    color: #E91616;
}

.aa {
    color: #E91616;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }



}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }



}

@media screen and (max-width: 768px) {
    .bg-image p {
        font-size: 15px;
    }

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 50%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #11101d;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
        position:fixed;
        
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #E91616;
        font-size: 20px;
        cursor: pointer;

    }

    .nav .navCloseBtn {
        position: relative;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .img{
        /* height: 50vh; */
    } */
    .img{
        align-items: center;
        width: 40vw;
        height: 50vh;
        margin-left: 1500px;
    }

#contact h3{
    font-size: 19px;
}